.homepage-container {
  position: relative;
  width: 100%;
  height: calc(100dvh - 68px);
  overflow: hidden;
}

.dot-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #aaa 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.3;
  z-index: 0;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16vw;
  height: 80%;
  z-index: 1;
  position: relative;
}

.hero-text h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.hero-text {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-text p {
  font-size: 1.1rem;
  margin: 0;
  max-width: 700px;
}

.hero-text-wrapper {
  position: relative;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.hero-text.active {
  opacity: 1;
  position: relative;
}


.hero-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  border: 4px solid #000;
}

.page-indicator {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  cursor: pointer;
}

.page-indicator .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.page-indicator .dot.active {
  opacity: 1;
  background-color: #000;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.slide p {
  font-size: 1.2rem;
}

.profile-image {
  margin-top: 1rem;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
  border: 4px solid #000;
}