.layout-wrapper {
  position: relative;
  z-index: 0;
}

.layout {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  min-height: calc(100dvh - 68px);;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #b3b3b3;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
